<div class="jumbotron text-center">
	<h1>Burger Muncher</h1><br>
	<h4>Let's munch some burgers.</h4>
</div>

<h2>Burger's that have NOT been munched!</h2>

<ul>
	{{#each burgers}}
		{{#unless this.devoured}}
			<li>
				{{this.burger_name}}

				<form action="/{{this.id}}?_method=PUT" method="POST">
					<input type="hidden" name="devoured" value="true">
					<button type="submit">Munch this burger!</button>
				</form>

	        </li>
	    {{/unless}}
	{{/each}}
</ul>

<h2>Burger's that have been munched!</h2>

<ul>
	{{#each burgers}}
		{{#if this.devoured}}
			<li>
				{{this.burger_name}}

				<form action="/{{this.id}}?_method=PUT" method="POST">
					<input type="hidden" name="devoured" value="false">
					<button type="submit">Re-munch this burger!
					</button>
				</form>
			</li>
		{{/if}}
	{{/each}}
</ul>

<h2>Add a burger!</h2>
<form class="create-update-form" action="/" method="POST">
	
	<div class="form-group">
		<label for="bn">Burger Name: </label>
		<input type="text" name="burger_name">
	</div>

	<div class="form-group">
		<label for="devour">Munched? (Select)</label><br>
		<input type="radio" name="devoured" value="1" checked> Munched!<br>
		<input type="radio" name="devoured" value="0"> Not Munched...
	</div>

	<button type="submit">Add Burger</button>

</form>
